* {
    color: white;
}

.App {
    text-align: center;
    background-image: linear-gradient(90deg, #feac54, #c779d0, #4bc0c8);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1 {

}

.row2 {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 30vw;
    
}
.clock {
    margin-top: 5vh;
    height: 22vw;
    width: 22vw;
    border-radius: 50%;
    border: 1.5vw solid white;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.timer {
    font-size: 3.5vw;
}

.controllerColumn {
    font-size: 2vw;
}

.circularButton {
    height: 4vw;
    width: 4vw;
    border: .25vw solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    font-size: 1.25vw;
}

.circularButton:hover {
    cursor: pointer;
    color: green;
}

i:hover {
    cursor: pointer;
}

.timerControl * {
    font-size: 2.5vh;
    padding: 2.5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
